.contactsPage h1{
    color: #2c3e50;
}
.starI::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 52%;
    width: 7%;
    height: 4px;
    background-color: #2c3e50;
}
.starI::before{
    content: "";
    position: absolute;
    top: 10px;
    right: 52%;
    width: 7%;
    height: 4px;
    background-color: #2c3e50;
}
.starI .fa-star{
    color: #2c3e50;
}
.formStyle{
    background: transparent !important;
    box-shadow: none !important;
}
.formBtn{
    background-color:#1abc9c !important;
}

